* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
}

body {
	min-height: 100%;
	background: url(../img/RhettRoGaming1.png) rgba(52, 52, 52, 0.3) fixed 100%
		100%;
	background-size: cover;
	background-blend-mode: multiply;
	background-repeat: no-repeat;
	align-items: center;
	position: absolute;
}

.gameOverMessage {
	color: darkred;
	font-weight: bold;
	font-size: 78px;
	text-shadow: 3px 3px darkgrey;
	text-decoration: underline;
	margin-bottom: 2px;
	margin-top: 2px;
}

.yourScore {
	font-size: 30px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px grey;
	margin-bottom: 2px;
	margin-top: 2px;
}

.playAgain {
	transition-delay: 0.75s;
	font-size: 50px;
	color: white;
	font-weight: bold;
	text-shadow: 2px 2px grey;
	margin-bottom: 2px;
	margin-top: 2px;
}
